@charset 'utf-8';

*{
    margin: 0;
    padding: 0;
    font-size: normal 18px arial;
}
body{
    background-color: lightblue;
}
header{
    margin: 10px;
    text-align: center;
    color: white;
}
section{
    background-color: white;
    width: 500px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: auto;
}
#imagem{
    background: url(imagens/manha.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    border-radius: 150px;
    width: 250px;
    height: 250px;
}
footer{
    margin: 10px;
    text-align: center;
    color: white;
}
